#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.siren-stopped {
  font-size: 14rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.siren-playing {
  margin-left: -66px;
  width: 100%;
  height: 50%;
}

h1 {
  margin: 0;
}

.siren-container {
  margin: 0;
}